#app{
    background-color: rgb(9, 133, 138);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;

    div{

         img{
            width: 100px;
         }
    }
}

